---
layout: default
title: La petite bête qui pique | Entreprise de traitement des nuisibles
---
<section class="inside chapo">
        <div class="chapo_img">
            <img src="assets/images/nid-de-guepe.png" alt="désinsectiseur de nid de guêpes">
        </div>
        <div class="chapo_text">
            <p>La petite bête qui pique, <strong>entreprise de traîtement des nuisibles</strong> pour les particuliers et les professionnels. Nous couvrons un large ensemble d’interventions. Que ce soit la <strong>destruction de nid de guêpes ou de frelons</strong>, la <strong>dératisation</strong> de votre maison ou de vos locaux, la <strong>désinsectisation de cafards ou de punaises de lits</strong>, notre entreprise peut répondre avec efficacité à vos différents problèmes.<br>
            </p>
        <div class="chapo_btn">
            <a href="tel:+33669515950">Nous appeler</a>
        </div>
        </div>
</section>
<section class="inside">
    <h2 class="big-titre left">Interventions</h2>
    <ul class="services"><li>
        <a href="/nid-de-guepes">
            <div class="service_img">
                <img src="/assets/images/nid-de-guepe.png" alt="">
            </div>
            <h3>Nid de guêpes</h3>
        </a>
    </li>
    <li>
        <a href="/nid-de-frelons">
            <div class="service_img">
                <img src="/assets/images/frelon.png" alt="">
            </div>
            <h3>Nid de frelons</h3>
        </a>
    </li>
    <li>
        <a href="/deratisation">
            <div class="service_img">
                <img src="/assets/images/rat.png" alt="">
            </div>
            <h3>Rats & rongeurs</h3>
        </a>
    </li>
    <li>
        <a href="">
            <div class="service_img">
                <img src="/assets/images/punaise-lit.png" alt="">
            </div>
            <h3>Punaises de lit</h3>
        </a>
    </li>
    <li>
        <a href="/cafards.html">
            <div class="service_img">
                <img src="/assets/images/cafard.png" alt="">
            </div>
            <h3>Cafards</h3>
        </a>
    </li>
    <li>
        <a href="">
            <div class="service_img">
                <img src="/assets/images/chenilles-bg.png" alt="">
            </div>
            <h3>Chenilles processionnaires</h3>
        </a>
    </li>
    </ul>
</section>
<section class="inside">
    <h2 class="big-titre left">Professionnels</h2>
    <ul class="professionnels_liste">
        <li><a href="">
            <img src="assets/images/pro/agriculture1.jpeg" alt="">
            <h3>Agriculture & Elevage</h3>
        </a>
        </li>
        <li>
            <a href="">
            <img src="assets/images/pro/btp2.jpeg" alt="">
            <h3>Bâtiments & Travaux publics</h3>
            </a>
        </li>
        <li>
            <a href="">
            <img src="assets/images/pro/btp2.jpeg" alt="">
            <h3>Collectivité</h3>
            </a>
        </li>
        <li>
            <a href="">
            <img src="assets/images/pro/supermarche1.jpeg" alt="">
            <h3>Commerce</h3>
            </a>
        </li>
        <li>
            <a href="">
            <img src="assets/images/pro/ecole.jpeg" alt="">
            <h3>Education</h3>
            </a>
        </li>
        <li><a href=""><img src="assets/images/pro/industrie1.jpeg" alt="">
            <h3>Industrie</h3>
        </a>
            
        </li>
        <li><a href=""><img src="assets/images/pro/hotellerie.jpeg" alt="">
            <h3>Hôtellerie</h3>
        </a>
            
        </li>
        <li><a href="/restaurants.html"><img src="assets/images/pro/restaurant1.jpeg" alt="">
            <h3>Restauration</h3>
        </a>
            
        </li>
        <li><a href=""><img src="assets/images/pro/restaurant1.jpeg" alt="">
            <h3>Associations</h3>
        </a></li>
        <li><a href=""><img src="assets/images/pro/hospital.jpeg" alt="">
            <h3>Hôpitaux</h3>
        </a></li>
    </ul>
</section>
<section class="inside">
    <h2 class="big-titre left">Zones d'intervention</h2>
    {% include zones.html %}
</section>
<section class="inside">
   <h2 class="big-titre left">Contact</h2>
   {% include form.html %}
</section>