<footer class="">
    <div class="inside">
      <img src="/assets/images/icones/finay-logo.png" alt="" class="logo-footer">
    </div>
    <div class="inside coordonnees">
      <div>
        <address>
          {{site.pages_mentions.adresse_entreprise}},<br>
  {{site.pages_mentions.zip_code_entreprise}} {{site.pages_mentions.ville_entreprise}}
          <br><br>
          <a href="mailto: contact@finay.fr">contact@finay.fr</a><br>
          <a href="tel:+33388909763" class="tel-gtm">+33 (0)3 88 90 97 63</a><br>
          <a href="https://www.facebook.com/FINAY-1894432284015612" target="_blank">
            <img src="/assets/images/icones/facebook.png" alt="" width="30" class="picto facebook">
          </a>
        </address>
        </p>
      </div>
      <div class="certifications">
        <img src="/assets/images/icones/rge.png" alt="entreprise certifiée RGE Qualibat" class="logo-footer">
        <img src="/assets/images/icones/rge-qualipac-2022.png" alt="entreprise certifiée QualiPac" class="logo-footer">
        <img src="/assets/images/icones/rge-qualibois-2022.png" alt="entreprise certifiée QualiBois" class="logo-footer">
        <img src="/assets/images/icones/rge-qualipv-2022.png" alt="entreprise certifiée QualiPV" class="logo-footer">
        <img src="/assets/images/icones/sto.png" alt="entreprise certifiée STO" class="logo-footer">
        <img src="/assets/images/icones/pro-ite-sto.jpeg" alt="entreprise certifiée pro ite sto" class="logo-footer">
        <img src="/assets/images/icones/partenaire-economies-d-energie-edf.jpeg" alt="entreprise certifiée partenaire energie edf" class="logo-footer">
      </div>
    </div>
    <div class="inside mentions">
      <a href="/confidentialité">Politique de confidentialité</a>
      <a href="/gestion-cookies">Gestion des cookies</a>
      <a href="/mentions-légales/">Mentions légales</a>
      <a href="/plan-de-site">Plan du site</a>
      <a href="https://www.ozymedia.fr/">Ozymedia</a>
    </div>
  </footer>