<ul class="liste_zones">
    <li><a href="deratisation-desinsectisation-granville">Granville</a></li>
    <li><a href="/deratisation-desinsectisation-bayeux">Bayeux</a></li>
    <li><a href="/deratisation-desinsectisation-saint-lo">Agneux</a></li>
    <li><a href="/deratisation-desinsectisation-brehal">Bréhal</a></li>
    <li><a href="/deratisation-desinsectisation-periers">Périers</a></li>
    <li><a href="/deratisation-desinsectisation-saint-lo">Saint-Lô</a></li>
    <li><a href="/deratisation-desinsectisation-coutances">Coutances</a></li>
    <li><a href="/deratisation-desinsectisation-avranches">Avranches</a></li>
    <li>Cerisy-la-Forêt</li>
    <li>Tessy-Bocage</li>
    <li><a href="/deratisation-desinsectisation-le-beny-bocage">Souleuvre en Bocage</a></li>
    <li>Le Molay-Littry</li>
    <li><a href="/deratisation-desinsectisation-quettreville-sur-sienne">Cerisy-la-Salle</a></li>
    <li>Torigny-les-villes</li>
    <li>Percy-en-Normandie</li>
    <li><a href="/deratisation-desinsectisation-saint-jean-de-daye">Saint-Jean-de-Daye</a></li>
    <li><a href="/deratisation-desinsectisation-vire">Vire</a></li>
    <li><a href="/deratisation-desinsectisation-la-haye-du-puits">La Haye-du-Puits</a></li>
    <li><a href="/deratisation-desinsectisation-carentan">Carentan</a></li>
    <li><a href="/deratisation-desinsectisation-villedieu-les-poeles-rouffigny">Villedieu-les-Poêles-Rouffigny</a></li>
</ul>