.banner {
    background-size: cover;
    background-position: center;
    min-height: 540px;
    //padding: 175px 0;
    padding: 10em 0;
    position: relative;
    //height: 500px;
    //background: rgba(31, 90, 138, 0.55);
    //background-image: url(../assets/images/banner.png);
    display: flex;
    align-items: center;
    .slogan {
      color: white;
      font-size: 2em;
      letter-spacing: 15%;
      line-height: 50px;
      font-family: 'ABeeZee', sans-serif;
    }
    h1 { color: white; }
    .animation {
      position: absolute;
      top: 15%;
      border: solid 8px $yellow;
      border-style: double;
      color: $yellow;
      width: 10em;
      height: 10em;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 2;
      background-color: fade(#FFFFFF, 20%);
      animation-duration: 3s;
      animation-name: glissement;
      margin-left: 60%;
      transform: rotate(345deg);
      background: rgba(255, 255, 255, 0.3);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      p {
        font-size: 1.3em;
        text-shadow: 1px 1px 2px #6c6969;
      }
      //animation-iteration-count: infinite;
    }
  }
  @keyframes glissement {
    from {
      margin-left: 100%;
      //width: 300%;
    }
  
    to {
      margin-left: 60%;
      //width: 100%;
    }
  }
  
  @media all and (max-width: 480px) {
    .banner {
      .animation {
        top: 55%;
        margin-left: 50%;
      }
    }
  }
  
  @media only screen and (max-width: 40em) {
    .banner {
      .animation {
        top: 55%;
        margin-left: 50%;
      }
    }
  }