$blue: #1F5A8A;
$blue-dark: #021a30;
$lightblue: #39C6E4;
$black: #474233;
$yellow: #d4a968;
$orange: #F1B254;
//$purple: #7879F1;
$purple: #B61372;
$rose: #F178B6;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')