footer {
    background-color: $black;
    font-family: 'Avenir';
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    a {color: white; text-decoration: none;}
    .inside {
    }
    .mentions {
        display: flex;
        justify-content: space-between;
    }
    .logo-footer {
        width: 80px;
        height: auto;
    }
}