footer {
    background-color: $black;
    font-family: 'Inter';
    color: white;
    a {color: white; text-decoration: none;}
    .inside {}
    .logo-footer {
        width: 80px;
        height: auto;
    }
}