form {
    max-width: 50%;
    .flex-form {display: flex;
        font-size: 1em;
        margin-bottom: 10px;
        width: 100%;
        p {margin:0; padding: 0; width: 100%;
            margin-right: 5px;
        }
    }
    input, select {line-height: 2em; height: 2em; width: 100%;}
    textarea {width: 100%;}
    .checkbox {
        input[type=checkbox] {
            width: fit-content;
        }
        label {display: flex;align-items: center;}
    }
    button {
        background-color: $yellow;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        &:hover {border: solid 1px;}
    }
}