/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) {
    #btn-nav { display: none; }
    #nav {
      transition: all 0.3s ease-out;
      &.white {
        background-color: white;
        font-size: 0.8em;
        a { color: $black; }
        transition: all 0.3s ease-out;
        .logo {
          width: 120px;
          transition: all 0.3s ease-out;
        }
      }
      .logo {
        transition: all 0.3s ease-out;
      }
    }
  }
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    #btn-nav { display: none; }
    #nav {
      transition: all 0.3s ease-out;
      &.white {
        background-color: white;
        font-size: 0.8em;
        a { color: $black; }
        transition: all 0.3s ease-out;
        .logo {
          width: 120px;
          transition: all 0.3s ease-out;
        }
      }
      .logo {
        transition: all 0.3s ease-out;
      }
    }
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
    #btn-nav { display: none; }
    #nav {
      transition: all 0.3s ease-out;
      &.white {
        background-color: white;
        font-size: 0.8em;
        a { color: $black; }
        transition: all 0.3s ease-out;
        .logo {
          width: 120px;
          transition: all 0.3s ease-out;
        }
      }
      .logo {
        transition: all 0.3s ease-out;
      }
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 768px) {
    #btn-nav { display: none; }
  }
  
  @media all and (max-width: 480px) {
    #nav {
      position: fixed;
      background-color: white;
      nav {
        display: flex;
        justify-content: space-between;
        ul {
          a:first-of-type { margin-left: 0.5em; }
          li { display: none; }
        }
        #btn-nav { margin-right: 0.5em; }
      }
      .logo {
        filter: none;
      }
    }
    #side-menu {
      //padding-left: 0.5em;
    }
    .logo {
      width: 100px;
      filter: none;
    }
    .grid, .new-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .new-grid {
      grid-gap: 10px;
    }
  
    .inside {
      padding: 10px;
    }
    #presentation {
      flex-direction: column-reverse;
      margin: 0 !important;
      .text-left {
        width: 100% !important;
        padding: 0 !important;
        padding: 1em !important;
        p { text-align: center !important; }
      }
      img { width: 100% !important; }
    }
    #certifications {
      flex-direction: column-reverse;
      .certifications-texte {
        padding-left: 0px !important;
        width: 100%;
        h2 { text-align: center; }
      }
      .certifications-home {
        padding: 0;
        width: 100%;
      }
    }
    #form-home {
      width: 100%;
      div {
        position: relative;
        img { width: 100%; }
        #form {
          padding: 25px;
          width: 100%;
          position: inherit;
          //right: 0px;
          //bottom: -40px;
          p { margin-bottom: 5px; }
        }
      }
    }
    .review-author-abbr {
      display: none !important;
    }
  }
  
  /*------------------------------------------
    Foundation Media Queries
     http://foundation.zurb.com/docs/media-queries.html
  --------------------------------------------*/
  
  /* Small screens - MOBILE */
  @media only screen { } /* Define mobile styles - Mobile First */
  
  
  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  @media only screen and (max-width: 40em) {
    #nav {
      position: fixed;
      background-color: white;
      nav {
        display: flex;
        justify-content: space-between;
        ul {
          a:first-of-type { margin-left: 0.5em; }
          li { display: none; }
        }
        #btn-nav { margin-right: 0.5em; display:block!important; }
      }
      .logo {
        filter: none;
      }
    }
    #side-menu {
      //padding-left: 0.5em;
    }
    .logo {
      width: 100px;
      filter: none;
    }
    .grid, .new-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .new-grid {
      grid-gap: 10px;
    }
    .inside {
      padding: 10px;
    }
    #presentation {
      flex-direction: column-reverse;
      margin: 0 !important;
      .text-left {
        width: 100% !important;
        padding: 0 !important;
        padding: 1em !important;
        p { text-align: center !important; }
      }
      img { width: 100% !important; }
    }
    #certifications {
      flex-direction: column-reverse;
      .certifications-texte {
        padding-left: 0px !important;
        width: 100%;
        h2 { text-align: center; }
      }
      .certifications-home {
        padding: 0;
        width: 100%;
      }
    }
    #form-home {
      width: 100%;
      div {
        position: relative;
        img { width: 100%; }
        #form {
          padding: 25px;
          width: 100%;
          position: inherit;
          //right: 0px;
          //bottom: -40px;
          p { margin-bottom: 5px; }
        }
      }
    }
    .review-author-abbr {
      display: none !important;
    }
    .chauffage-item {
      flex-wrap: wrap;
      flex-direction: column-reverse !important;
      .chauffage-text { width: 100%;}
      .chauffage-photo { width: 100%;}
    }
    .chauffage-presentation.bis {
      flex-direction: column;
    }
    .flex-inline-solaire {
      flex-direction: column;
      img { width: 100%; margin: auto; padding: 0 2em;}
    }
    .chapo {
      flex-direction: column;
      align-items: center;
      .chapo_text {
        width: 100%;
        padding: 0;
      }
    }
    form {
      max-width: 100%;
      button {width: 100%;margin-top: 1em;
        font-size: 1em;padding: 10px;
      }
    }
    .flex-form {
      flex-wrap: wrap;
      width: 100%;
      p { margin-right: 0px; margin-bottom: 10px;}
      input, select {margin-bottom: 10px;
        line-height: 3em; height: 3em;
      }
    }
    .inside.frelons {
      h3 {text-align: center;}
      .flex {
        flex-direction: column;
        img {width: 50%; margin: auto;}
      }
    }
  }
  
  /* Medium screens - TABLET */
  @media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */
  
  @media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  
  /* Large screens - DESKTOP */
  @media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
  
  @media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
  
  /* XLarge screens */
  @media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */
  
  @media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
  
  /* XXLarge screens */
  @media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
  
  /*------------------------------------------*/
  
  
  
  /* Portrait */
  @media screen and (orientation:portrait) { /* Portrait styles here */ }
  /* Landscape */
  @media screen and (orientation:landscape) { /* Landscape styles here */ }
  
  
  /* CSS for iPhone, iPad, and Retina Displays */
  
  /* Non-Retina */
  @media screen and (-webkit-max-device-pixel-ratio: 1) {
  }
  
  /* Retina */
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  }
  
  /* iPhone Portrait */
  @media screen and (max-device-width: 480px) and (orientation:portrait) {
  }
  
  /* iPhone Landscape */
  @media screen and (max-device-width: 480px) and (orientation:landscape) {
  }
  
  /* iPad Portrait */
  @media screen and (min-device-width: 481px) and (orientation:portrait) {
  }
  
  /* iPad Landscape */
  @media screen and (min-device-width: 481px) and (orientation:landscape) {
  }
  
  
  
  /*------------------------------------------
    Live demo samples
     - http://andrelion.github.io/mediaquery/livedemo.html
  --------------------------------------------*/