---
layout: default
title: Dératisation et traitement des nuisibles des restaurants | La petite bête qui pique
permalink: /restaurants
---
<article>
    <section class="inside chapo">
        <div class="chapo_img">
            <img src="/assets/images/pro/restaurant1.jpeg" alt="dératisation et traitement des nuisibles dans les restaurants">
        </div>
        <div class="chapo_text">
            <h1>Dératisation et traitement des nuisibles dans les restaurants</h1>
            <p>Vous rencontrez un problème de rats ou de nuisibles au sein de votre restaurant ?
                Vous pouvez faire appel à nos services de <strong>dératisation pour les restaurants</strong>.</p>
        <div class="chapo_btn">
            <a href="tel:+33669515950">Nous appeler</a>
        </div>
        </div>
    </section>
    <section class="inside">
        <p>Les restaurants font parti des établissements privilégiés par les rats et les autres nuisibles.
            La quantité de denrées alimentaires qui y sont présentes offre un environnement propice à la prolifération de ces nuisibles. Il n’est donc pas rare d’y rencontrer par exemple des rats même si les conditions d’hygiène du restaurant sont respectées.
            Cependant la présence des rats et d’autres nuisibles peuvent avoir de graves conséquences, en entachant sérieusement la réputation du restaurant et pouvant même contraindre l’établissement à la fermeture.
            En cas de doute de leur présence, il est impératif de faire appel à un <strong>dératiseur ou à désinsectiseur</strong> pour traiter rapidement le problème.</p>

        <h2>Notre entreprise spécialisée dans la dératisation des restaurants</h2>
        <p>La petite bête qui pique, entreprise spécialisée dans la dératisation, la désinsectisation et le traîtement des nuisibles saura intervenir rapidement et en toute discrétion au sein de votre établissement.</p> 
    </section>
    <section class="inside">
        <h2 class="big-titre left">Zones d'intervention</h2>
        {% include zones.html %}
    </section>
    <section class="inside">
       <h2 class="big-titre left">Contact</h2>
       {% include form.html %}
    </section>
</article>
