<!doctype html>
<html lang="fr-fr">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5GJPVTL');</script>
    <!-- End Google Tag Manager -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10900423524"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-10900423524');
    </script>

    <meta charset="utf-8">
    <meta name="google-site-verification" content="PWMLkCCQ2KS1_JpyA0JrZ771wYjpdjFUxCNQTgH7hdw" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description}}">
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    <link rel="stylesheet" href="../../../assets/css/styles.css">
    <!-- For styles with static names... -->
    <link href="{{ 'assets/css/styles.css' | relative_url }}" rel="stylesheet">
    <link rel="shortcut icon" href="../../../assets/image/favicon2.png">
    <link href="{{ 'assets/images/favicon2.png' | relative_url }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.finay.fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Finay | Isolation extérieure et rénovations">
    <meta property="og:description" content="Finay vous accompagne dans vos travaux depuis 20 ans">
    <meta property="og:image" content="https://www.finay.fr/assets/images/opengraph.jpeg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="https://www.finay.fr">
    <meta property="twitter:url" content="https://www.finay.fr">
    <meta name="twitter:title" content="Finay | Isolation extérieure et rénovations">
    <meta name="twitter:description" content="Finay vous accompagne dans vos travaux depuis 20 ans">
    <meta name="twitter:image" content="https://www.finay.fr/assets/images/opengraph.jpeg">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <meta name="robots" content="index,follow">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GJPVTL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="layout-default">
      {% include navigation.html %}
      
    </header>

    <main>
      <article>
        {{ content }}
      </article>
    </main>
    {% include footer.html %}
  </body>
  <script src="/assets/js/nav.js"></script>
  <script type="application/ld+json">
     {
    "@context": "https://schema.org/",
    "@type": "HomeAndConstructionBusiness",
      "name": "Finay",
      "image": "https://www.finay.fr/assets/images/icones/finay-logo.png",
      "location": {
        "@type": "Place",
        "geo": {
          "@type": "GeoCircle",
          "geoMidpoint": {
            "@type": "GeoCoordinates",
            "latitude": "48.9595205",
            "longitude": "7.642957"
          },
          "geoRadius": "70000"
        }
    },
    "url" : "https://www.finay.fr",
    "telephone": "+33388909763",
    "priceRange": "€€",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "Gundershoffen",
    "addressRegion": "FR",
    "postalCode": "67110",
    "streetAddress": "8 impasse de l'Artisanat"
    },
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.9",
    "worstRating": "1",
    "bestRating": "5",
    "reviewCount": "66"
  },
  "openingHours": [
    "Mo-Fr 09:00-12:00",
    "Fr 13:30-17:00",
    "Mo-Th 13:30-17:30",
    "Fr-Sa 17:00-22:00",
    "Sa 10:00-12:00"
  ],
    "contactPoint" : [
      { "@type" : "ContactPoint",
        "telephone" : "+33388909763",
        "email": "mailto:contact@finay.fr",
        "contactType" : "customer service"
      } ] }
  }</script>
</html>